@import '../variables';

.container {
    width: 100%;
    height: 100%;
    background-color: $light_grey;
    display: grid;
    grid-template-columns: $side_panel_width 1fr;
    grid-template-rows: 1fr;

    .categories {
        width: $side_panel_width;
        box-shadow: 0 0 0.5rem 0 black;
        background-color: inherit;
        padding: 2rem 0;
        overflow: auto;

        @include customScrollbar;

        .categoryBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $selector_width;
            height: $selector_height;
            margin: auto;
            margin-bottom: 1rem;
            box-shadow: 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            background-color: inherit;
            text-align: center;
            font-size: 1.05rem;

            &:first-child {
                font-weight: bold;
            }

            &:hover {
                box-shadow: inset 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
                font-size: 1rem;
            }
        }

        .addCatContainer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 1rem;
            gap: 0.5rem;
            width: $selector_width;
            
            .addCatInput {
                max-width: 0;
                height: 2.2rem;
                padding: 0.3rem;
                background-color: inherit;
                border: 0.1rem solid rgba($color: $red_brown, $alpha: 0.8);
                border-radius: 0.5rem;
                color: $red_brown_dark;
                outline: none;
                display: none;
                
                &.show {
                    display: block;
                    animation: revealInput 0.2s ease-out forwards;
                }
                @keyframes revealInput {
                    100% { max-width: 100%; }
                }
                
                &::placeholder {
                    color: rgba($color: $red_brown_dark, $alpha: 0.6);
                }

                &:focus {
                    outline: 0.15rem solid rgba($color: $red_brown, $alpha: 0.8);
                }
            }

            .addCatBtn {
                background-color: rgba($color: $red_brown, $alpha: 1.0);
                box-shadow: 0 0 0.15rem 0 rgba($color: #000000, $alpha: 1.0);
                color: $light_grey;
                border: none;
                border-radius: 0.5rem;
                height: 2.2rem;
                aspect-ratio: 1 / 1;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: opacity ease-out 0.1s;

                
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .passages {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 2rem;
        gap: 2rem;

        .passage {
            h4 {
                font-weight: bold
            }

            .content {
                [data-number] {
                    vertical-align: super;
                    font-size: smaller;
                }
            }
        }

        @include customScrollbar;
    }
}