@import '../variables';

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $light_grey;
    display: grid;
    grid-template-columns: $side_panel_width 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;

    .categories {
        box-shadow: 0 0 0.5rem 0 black;
        background-color: inherit;
        padding: 2rem 0;
        overflow: auto;
        z-index: 100;

        @include customScrollbar;

        .categoryBtn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $selector_width;
            height: $selector_height;
            margin: auto;
            margin-bottom: 1rem;
            box-shadow: 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
            color: $red_brown_dark;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            background-color: inherit;
            text-align: center;
            font-size: 1.05rem;

            &:first-child {
                font-weight: bold;
            }

            &:hover {
                box-shadow: inset 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
                font-size: 1rem;
            }
        }

        .addCatContainer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 1rem;
            gap: 0.5rem;
            width: $selector_width;
            
            .addCatInput {
                max-width: 0;
                height: 2.2rem;
                padding: 0.3rem;
                background-color: inherit;
                border: 0.1rem solid rgba($color: $red_brown, $alpha: 0.8);
                border-radius: 0.5rem;
                color: $red_brown_dark;
                outline: none;
                display: none;
                
                &.show {
                    display: block;
                    animation: revealInput 0.2s ease-out forwards;
                }
                @keyframes revealInput {
                    100% { max-width: 100%; }
                }
                
                &::placeholder {
                    color: rgba($color: $red_brown_dark, $alpha: 0.6);
                }

                &:focus {
                    outline: 0.15rem solid rgba($color: $red_brown, $alpha: 0.8);
                }
            }

            .addCatBtn {
                background-color: rgba($color: $red_brown, $alpha: 1.0);
                box-shadow: 0 0 0.15rem 0 rgba($color: #000000, $alpha: 1.0);
                color: $light_grey;
                border: none;
                border-radius: 0.5rem;
                height: 2.2rem;
                aspect-ratio: 1 / 1;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                @include fadeOnHover;
            }
        }
    }

    .passageContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        background-color: inherit;
        overflow: hidden;

        .passagesHeader {
            position: relative;
            box-shadow: 0 0 0.5rem 0 black;
            background-color: inherit;
            padding-bottom: 0.5rem;
            min-height: 5rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            z-index: 10;

            .catDropdownBtn {
                display: none;
            }

            .optionContainer {
                display: flex;
                justify-content: flex-end;
                margin-right: 0.5rem;
                gap: 0.5rem;
    
                button {
                    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
                    border: none;
                    border-radius: 0.5rem;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    box-shadow: 0 0 0.25rem 0 $moss_green_shadow;
                    background-color: $moss_green_vibrant;
                    color: $light_grey;
                    font-weight: 800;
                    @include fadeOnHover;

                    &.catDeleteBtn {
                        background-color: $deep_red;
                    }
                }

                @include confirmation('deleteCatConfirmationContainer', 'deleteCatConfirmationWindow', 'confirmDeleteCatBtn', 'cancelDeleteCatBtn')
            }
    
            .selectedPsgName {
                width: 100%;
                height: max-content;
                text-align: center;
                font-weight: 200;
            }

        }

        .passages {
            width: 100%;
            height: 100%;
            padding-top: 1rem;
            overflow-x: hidden;
            overflow-y: auto;
            @include customScrollbar;

            &.flashCards {
                width: 100%;
                height: 100%;
            }

            .passage {
                padding: 1rem 2rem;
                position: relative;
                
                &.addingPassage {
                    display: grid;
                    grid-template-areas: 
                    "input verseRef"
                    "input verseContent";
                    grid-template-columns: 1.5rem 1fr;
                    gap: 0 1rem;
                }
                
                input {
                    grid-area: input;
                }
                
                h4 {
                    grid-area: verseRef;
                    font-weight: bold;
                }
                
                .content {
                    grid-area: verseContent;
                    [data-number] {
                        vertical-align: super;
                        font-size: smaller;
                    }
                }

                &:hover {
                    .psgOptionsContainer {
                        opacity: 1;
                    }
                }

                .psgOptionsContainer {
                    height: max-content;
                    width: max-content;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    cursor: pointer;
                    padding: 0rem 1rem;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-end;
                    gap: 0.3rem;
                    opacity: 0;
                    transition: opacity 0.15s linear;
                    
                    svg {
                        height: 0.8rem;
                        width: auto;
                        pointer-events: none;
                    }

                    &:hover {
                        .psgOptions {
                            display: flex;
                        }
                    }

                    .psgOptions {
                        width: max-content;
                        height: max-content;
                        display: none;
                        flex-flow: column nowrap;
                        background-color: whitesmoke;
                        border-radius: 0.5rem;
                        margin-right: -1rem;
                        padding: 0.5rem;
                        z-index: 10;
                        box-shadow: 0 0 0.4rem 0 rgba($color: #000000, $alpha: 0.3);

                        .optionsBtn {
                            width: 100%;
                            padding: 0.5rem 0.5rem;
                            border: none;
                            color: black;
                            border-bottom: 1px solid silver;
                            background-color: transparent;
                            transition: color 0.1s linear;
                            
                            &:hover {
                                color: rgba($color: black, $alpha: 0.6);
                            }

                            &.deletePsgBtn {
                                color: $deep_red;

                                &:hover {
                                    color: rgba($color: $deep_red, $alpha: 0.6);
                                }
                            }

                            &:last-child {
                                border: none;
                            }
                            
                        }
                        
                    }
                }
                
                @include confirmation('deletePsgConfirmationContainer', 'deletePsgConfirmationWindow', 'confirmDeletePsgBtn', 'cancelDeletePsgBtn')
            }
        }

    }

    @media screen and (max-width: $mobile_screen_max_width) {
        display: block;
        
        .categories {
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-in;
            
            &.show {
                transition: transform 0.3s ease-out;
                transform: translateY(100%);
            }
        }
        
        .passageContainer {
            .passagesHeader {
                .catDropdownBtn {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%);
                    display: flex;
                    width: max-content;
                    height: max-content;
                    padding: 0.3rem 0.3rem;
                    border: none;
                    border-bottom-left-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                    background-color: $red_brown;
                    box-shadow: 0 0 0.2rem 0 $red_brown_dark;
                    color: $light_grey;
                }
                
                .optionContainer {
                    justify-content: end;
                    align-items: end;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 0.3rem;
                    
                    button {
                        padding: 0;
                        width: max-content;
                        height: max-content;
                        border: none;
                        border-radius: 0.5rem;
                        box-shadow: none;
                        background-color: transparent;
                        color: $moss_green_vibrant;
                        font-weight: 400;
                        font-size: 0.9rem;
                        @include fadeOnHover;
                        
                        &.catDeleteBtn {
                            background-color: transparent;
                            color: $deep_red;
                        }
                    }
                    
                }
                
            }
    
            .passages {
                // &.flashCards {
                    
                    // }
                    
                    .passage {
                    
                        // &.addingPassage {
                        
                        // }
                        
                        // input {
                            
                            // }
                            
                            // h4 {
                                
                                // }
                                
                                // .content {
                                    
                                    //     [data-number] {
                            
                    //     }
                    // }
    
                    // &:hover {
                    //     .psgOptionsContainer {
                            
                    //     }
                    // }
    
                    .psgOptionsContainer {
                        opacity: 1;
                        
                        // svg {

                        // }
    
                        // &:hover {
                        //     .psgOptions {

                        //     }
                        // }
    
                        // .psgOptions {
    
                        //     .optionsBtn {
                                
                        //         &:hover {
                                    
                        //         }
    
                        //         &.deletePsgBtn {
    
                        //             &:hover {

                        //             }
                        //         }
    
                        //         &:last-child {

                        //         }
                                
                        //     }
                        // }
                    }
    
                }
            }
        }
    }
}