.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #CECCCC;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17rem 1fr;
      grid-template-columns: 17rem 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  overflow: hidden;
}

.container .categories {
  -webkit-box-shadow: 0 0 0.5rem 0 black;
          box-shadow: 0 0 0.5rem 0 black;
  background-color: inherit;
  padding: 2rem 0;
  overflow: auto;
  z-index: 100;
}

.container .categories::-webkit-scrollbar {
  width: 1rem;
}

.container .categories::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(69, 33, 23, 0.8);
}

.container .categories::-webkit-scrollbar-thumb {
  background: #452117;
  border-radius: 0.5rem;
}

.container .categories::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 33, 23, 0.6);
}

.container .categories .categoryBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 3rem;
  margin: auto;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 0.3rem 0 black;
          box-shadow: 0 0 0.3rem 0 black;
  color: #1b0d09;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: inherit;
  text-align: center;
  font-size: 1.05rem;
}

.container .categories .categoryBtn:first-child {
  font-weight: bold;
}

.container .categories .categoryBtn:hover {
  -webkit-box-shadow: inset 0 0 0.3rem 0 black;
          box-shadow: inset 0 0 0.3rem 0 black;
  font-size: 1rem;
}

.container .categories .addCatContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 1rem;
  gap: 0.5rem;
  width: 80%;
}

.container .categories .addCatContainer .addCatInput {
  max-width: 0;
  height: 2.2rem;
  padding: 0.3rem;
  background-color: inherit;
  border: 0.1rem solid rgba(69, 33, 23, 0.8);
  border-radius: 0.5rem;
  color: #1b0d09;
  outline: none;
  display: none;
}

.container .categories .addCatContainer .addCatInput.show {
  display: block;
  -webkit-animation: revealInput 0.2s ease-out forwards;
          animation: revealInput 0.2s ease-out forwards;
}

@-webkit-keyframes revealInput {
  100% {
    max-width: 100%;
  }
}

@keyframes revealInput {
  100% {
    max-width: 100%;
  }
}

.container .categories .addCatContainer .addCatInput::-webkit-input-placeholder {
  color: rgba(27, 13, 9, 0.6);
}

.container .categories .addCatContainer .addCatInput:-ms-input-placeholder {
  color: rgba(27, 13, 9, 0.6);
}

.container .categories .addCatContainer .addCatInput::-ms-input-placeholder {
  color: rgba(27, 13, 9, 0.6);
}

.container .categories .addCatContainer .addCatInput::placeholder {
  color: rgba(27, 13, 9, 0.6);
}

.container .categories .addCatContainer .addCatInput:focus {
  outline: 0.15rem solid rgba(69, 33, 23, 0.8);
}

.container .categories .addCatContainer .addCatBtn {
  background-color: #452117;
  -webkit-box-shadow: 0 0 0.15rem 0 black;
          box-shadow: 0 0 0.15rem 0 black;
  color: #CECCCC;
  border: none;
  border-radius: 0.5rem;
  height: 2.2rem;
  aspect-ratio: 1 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: opacity ease-out 0.15s;
  transition: opacity ease-out 0.15s;
}

.container .categories .addCatContainer .addCatBtn:hover {
  opacity: 0.6;
}

.container .passageContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: inherit;
  overflow: hidden;
}

.container .passageContainer .catDropdownBtn {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.3rem 0.3rem;
  border: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #452117;
  -webkit-box-shadow: 0 0 0.2rem 0 #1b0d09;
          box-shadow: 0 0 0.2rem 0 #1b0d09;
  color: #CECCCC;
  z-index: 101;
}

.container .passageContainer .passagesHeader {
  position: relative;
  -webkit-box-shadow: 0 0 0.5rem 0 black;
          box-shadow: 0 0 0.5rem 0 black;
  background-color: inherit;
  padding-bottom: 0.5rem;
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}

.container .passageContainer .passagesHeader .optionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.5rem;
  gap: 0.5rem;
}

.container .passageContainer .passagesHeader .optionContainer button {
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0 0 0.25rem 0 #27301d;
          box-shadow: 0 0 0.25rem 0 #27301d;
  background-color: #539108;
  color: #CECCCC;
  font-weight: 800;
  -webkit-transition: opacity ease-out 0.15s;
  transition: opacity ease-out 0.15s;
}

.container .passageContainer .passagesHeader .optionContainer button:hover {
  opacity: 0.6;
}

.container .passageContainer .passagesHeader .optionContainer button.catDeleteBtn {
  background-color: #b40000;
}

.container .passageContainer .passagesHeader .optionContainer .deleteCatConfirmationContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - $nav_height - $footer_height);
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 620px) {
  .container .passageContainer .passagesHeader .optionContainer .deleteCatConfirmationContainer {
    position: fixed;
    top: 4rem;
  }
}

.container .passageContainer .passagesHeader .optionContainer .deleteCatConfirmationContainer .deleteCatConfirmationWindow {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 6rem;
  background-color: #CECCCC;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "confirmation confirmation" "confirm cancel";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.container .passageContainer .passagesHeader .optionContainer .deleteCatConfirmationContainer .deleteCatConfirmationWindow h5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: confirmation;
  -ms-flex-item-align: start;
      align-self: start;
}

.container .passageContainer .passagesHeader .optionContainer .deleteCatConfirmationContainer .deleteCatConfirmationWindow h5 span {
  color: #539108;
  font-weight: 800;
}

.container .passageContainer .passagesHeader .optionContainer .deleteCatConfirmationContainer .deleteCatConfirmationWindow button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 800;
}

.container .passageContainer .passagesHeader .optionContainer .deleteCatConfirmationContainer .deleteCatConfirmationWindow button.confirmDeleteCatBtn {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: confirm;
  color: #b40000;
}

.container .passageContainer .passagesHeader .optionContainer .deleteCatConfirmationContainer .deleteCatConfirmationWindow button.cancelDeleteCatBtn {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cancel;
  color: #56667A;
}

.container .passageContainer .passagesHeader .selectedPsgName {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  font-weight: 200;
}

.container .passageContainer .passages {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 40vh;
}

.container .passageContainer .passages::-webkit-scrollbar {
  width: 1rem;
}

.container .passageContainer .passages::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(69, 33, 23, 0.8);
}

.container .passageContainer .passages::-webkit-scrollbar-thumb {
  background: #452117;
  border-radius: 0.5rem;
}

.container .passageContainer .passages::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 33, 23, 0.6);
}

.container .passageContainer .passages.flashCards {
  width: 100%;
  height: 100%;
}

.container .passageContainer .passages .passage {
  padding: 1rem 2rem;
  position: relative;
}

.container .passageContainer .passages .passage.addingPassage {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "input verseRef" "input verseContent";
  -ms-grid-columns: 1.5rem 1fr;
      grid-template-columns: 1.5rem 1fr;
  gap: 0 1rem;
}

.container .passageContainer .passages .passage input {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: input;
}

.container .passageContainer .passages .passage h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: verseRef;
  font-weight: bold;
}

.container .passageContainer .passages .passage .content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: verseContent;
}

.container .passageContainer .passages .passage .content [data-number] {
  vertical-align: super;
  font-size: smaller;
}

.container .passageContainer .passages .passage:hover .psgOptionsContainer {
  opacity: 1;
}

.container .passageContainer .passages .passage .psgOptionsContainer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.3rem;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.container .passageContainer .passages .passage .psgOptionsContainer svg {
  height: 0.8rem;
  width: auto;
  pointer-events: none;
}

.container .passageContainer .passages .passage .psgOptionsContainer:hover .psgOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .passageContainer .passages .passage .psgOptionsContainer .psgOptions {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  margin-right: -1rem;
  padding: 0.5rem;
  z-index: 10;
  -webkit-box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.3);
}

.container .passageContainer .passages .passage .psgOptionsContainer .psgOptions .optionsBtn {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: none;
  color: black;
  border-bottom: 1px solid silver;
  background-color: transparent;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.container .passageContainer .passages .passage .psgOptionsContainer .psgOptions .optionsBtn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.container .passageContainer .passages .passage .psgOptionsContainer .psgOptions .optionsBtn.deletePsgBtn {
  color: #b40000;
}

.container .passageContainer .passages .passage .psgOptionsContainer .psgOptions .optionsBtn.deletePsgBtn:hover {
  color: rgba(180, 0, 0, 0.6);
}

.container .passageContainer .passages .passage .psgOptionsContainer .psgOptions .optionsBtn:last-child {
  border: none;
}

.container .passageContainer .passages .passage .deletePsgConfirmationContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - $nav_height - $footer_height);
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 620px) {
  .container .passageContainer .passages .passage .deletePsgConfirmationContainer {
    position: fixed;
    top: 4rem;
  }
}

.container .passageContainer .passages .passage .deletePsgConfirmationContainer .deletePsgConfirmationWindow {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 6rem;
  background-color: #CECCCC;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "confirmation confirmation" "confirm cancel";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.container .passageContainer .passages .passage .deletePsgConfirmationContainer .deletePsgConfirmationWindow h5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: confirmation;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.container .passageContainer .passages .passage .deletePsgConfirmationContainer .deletePsgConfirmationWindow h5 span {
  color: #539108;
  font-weight: 800;
}

.container .passageContainer .passages .passage .deletePsgConfirmationContainer .deletePsgConfirmationWindow button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 800;
}

.container .passageContainer .passages .passage .deletePsgConfirmationContainer .deletePsgConfirmationWindow button.confirmDeletePsgBtn {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: confirm;
  color: #b40000;
}

.container .passageContainer .passages .passage .deletePsgConfirmationContainer .deletePsgConfirmationWindow button.cancelDeletePsgBtn {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cancel;
  color: #56667A;
}

@media screen and (max-width: 620px) {
  .container {
    display: block;
  }
  .container .categories {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    padding-top: 3rem;
  }
  .container .categories.show {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .container .passageContainer .catDropdownBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .passageContainer .passagesHeader .optionContainer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: flex-end;
    gap: 0.3rem;
  }
  .container .passageContainer .passagesHeader .optionContainer button {
    padding: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: none;
    border-radius: 0.5rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    color: #539108;
    font-weight: 400;
    font-size: 0.9rem;
    -webkit-transition: opacity ease-out 0.15s;
    transition: opacity ease-out 0.15s;
  }
  .container .passageContainer .passagesHeader .optionContainer button:hover {
    opacity: 0.6;
  }
  .container .passageContainer .passagesHeader .optionContainer button.catDeleteBtn {
    background-color: transparent;
    color: #b40000;
  }
  .container .passageContainer .passages .passage .psgOptionsContainer {
    opacity: 1;
  }
}
/*# sourceMappingURL=Home.module.css.map */