.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #CECCCC;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17rem 1fr;
      grid-template-columns: 17rem 1fr;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
      grid-template-areas: "selectors passageTitle" "selectors passageContent";
}

@media screen and (max-width: 620px) {
  .container {
    display: block;
  }
}

.container .selectorDropdownBtn {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.3rem 0.3rem;
  border: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #452117;
  -webkit-box-shadow: 0 0 0.2rem 0 #1b0d09;
          box-shadow: 0 0 0.2rem 0 #1b0d09;
  color: #CECCCC;
  z-index: 101;
}

@media screen and (max-width: 620px) {
  .container .selectorDropdownBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container .selectors {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: selectors;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.5rem 0 black;
          box-shadow: 0 0 0.5rem 0 black;
  background-color: inherit;
  z-index: 100;
}

@media screen and (max-width: 620px) {
  .container .selectors {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    padding-top: 3rem;
  }
  .container .selectors.show {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.container .selectors .selectorContainer {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
  margin-bottom: 1rem;
}

.container .selectors .selectorContainer .selectorBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80%;
  height: 3rem;
  margin: auto;
  -webkit-box-shadow: 0 0 0.3rem 0 black;
          box-shadow: 0 0 0.3rem 0 black;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.05rem;
  z-index: 10;
  background-color: inherit;
}

.container .selectors .selectorContainer .selectorBtn.active {
  -webkit-box-shadow: inset 0 0 0.3rem 0 black;
          box-shadow: inset 0 0 0.3rem 0 black;
  font-size: 1rem;
}

.container .selectors .selectorContainer .selectorBtn:hover:not(.active) {
  -webkit-box-shadow: inset 0 0 0.3rem 0 black;
          box-shadow: inset 0 0 0.3rem 0 black;
  font-size: 1rem;
}

.container .selectors .selectorContainer .options {
  position: absolute;
  width: 80%;
  max-height: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-shadow: 0 0 0.3rem 0 black;
          box-shadow: 0 0 0.3rem 0 black;
  border-radius: 0.5rem;
  -webkit-transition: max-height ease-out 0.2s;
  transition: max-height ease-out 0.2s;
  background-color: #CECCCC;
  z-index: 11;
}

.container .selectors .selectorContainer .options.show {
  max-height: 50vh;
}

.container .selectors .selectorContainer .options button {
  position: relative;
  padding: 0.5rem 1rem;
  border: none;
  background-color: inherit;
}

.container .selectors .selectorContainer .options button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 85%;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.container .selectors .selectorContainer .options button:first-child {
  border-top: none;
}

.container .selectors .selectorContainer .options button:hover {
  background-color: #452117;
  color: #cecccc;
}

.container .selectors .selectorContainer .options::-webkit-scrollbar {
  width: 1rem;
}

.container .selectors .selectorContainer .options::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(69, 33, 23, 0.8);
}

.container .selectors .selectorContainer .options::-webkit-scrollbar-thumb {
  background: #452117;
  border-radius: 0.5rem;
}

.container .selectors .selectorContainer .options::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 33, 23, 0.6);
}

.container .selectors .selectorContainer .options::-webkit-scrollbar {
  width: 0.7rem;
}

.container .selectors .versesLabel {
  text-align: center;
  font-weight: 400;
}

.container .selectors .savePsgBtn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.2rem 0.3rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: #748E54;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0.2rem 0.05rem #27301d;
          box-shadow: 0 0 0.2rem 0.05rem #27301d;
  color: #CECCCC;
  font-weight: 600;
  margin-top: 0.3rem;
  -webkit-transition: opacity ease-out 0.15s;
  transition: opacity ease-out 0.15s;
}

.container .selectors .savePsgBtn:hover {
  opacity: 0.6;
}

.container .selectors .verseSelection {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0.5rem auto;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-box-shadow: inset 0 0 0.3rem 0 black;
          box-shadow: inset 0 0 0.3rem 0 black;
  overflow: auto;
  overflow-x: hidden;
}

.container .selectors .verseSelection::-webkit-scrollbar {
  width: 1rem;
}

.container .selectors .verseSelection::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(69, 33, 23, 0.8);
}

.container .selectors .verseSelection::-webkit-scrollbar-thumb {
  background: #452117;
  border-radius: 0.5rem;
}

.container .selectors .verseSelection::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 33, 23, 0.6);
}

.container .selectors .verseSelection::-webkit-scrollbar {
  width: 0.7rem;
}

.container .selectors .verseSelection .verseNum {
  background-color: #452117;
  -webkit-box-shadow: 0 0 0.15rem 0 black;
          box-shadow: 0 0 0.15rem 0 black;
  color: #CECCCC;
  border: none;
  border-radius: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: opacity ease-out 0.15s;
  transition: opacity ease-out 0.15s;
}

.container .selectors .verseSelection .verseNum:hover {
  opacity: 0.6;
}

.container .selectors .verseSelection .verseNum.highlight {
  background-color: #748E54;
  -webkit-box-shadow: 0 0 0.15rem 0 #27301d;
          box-shadow: 0 0 0.15rem 0 #27301d;
}

.container .passageTitle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: passageTitle;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 0.5rem 0 black;
          box-shadow: 0 0 0.5rem 0 black;
  font-weight: 200;
  height: 3rem;
}

@media screen and (max-width: 620px) {
  .container .passageTitle {
    height: 4rem;
  }
}

.container .content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: passageContent;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 2rem;
  padding-bottom: 40vh;
  gap: 0.1rem;
}

.container .content::-webkit-scrollbar {
  width: 1rem;
}

.container .content::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(69, 33, 23, 0.8);
}

.container .content::-webkit-scrollbar-thumb {
  background: #452117;
  border-radius: 0.5rem;
}

.container .content::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 33, 23, 0.6);
}

.container .content span.highlight {
  background-color: rgba(116, 142, 84, 0.6);
}

.container .content span [data-number] {
  vertical-align: super;
  font-size: smaller;
}
/*# sourceMappingURL=Bible.module.css.map */