@import '../variables.scss';

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $light_grey;
    display: grid;
    grid-template-columns: $side_panel_width 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "selectors passageTitle"
    "selectors passageContent";

    @media screen and (max-width: $mobile_screen_max_width) {
        display: block;
    }

    .selectorDropdownBtn {
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: max-content;
        height: max-content;
        padding: 0.3rem 0.3rem;
        border: none;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: $red_brown;
        box-shadow: 0 0 0.2rem 0 $red_brown_dark;
        color: $light_grey;
        z-index: 101;

        @media screen and (max-width: $mobile_screen_max_width) {
            display: flex;
        }

    }

    .selectors {
        grid-area: selectors;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        overflow: hidden;
        box-shadow: 0 0 0.5rem 0 black;
        background-color: inherit;
        z-index: 100;

        @media screen and (max-width: $mobile_screen_max_width) {
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-in;
            padding-top: 3rem;
            
            &.show {
                transition: transform 0.3s ease-out;
                transform: translateY(100%);
            }
        }

        .selectorContainer {
            position: relative;
            width: 100%;
            height: max-content;
            cursor: pointer;
            margin-bottom: 1rem;

            .selectorBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: $selector_width;
                height: $selector_height;
                margin: auto;
                box-shadow: 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
                border: none;
                border-radius: 0.5rem;
                font-size: 1.05rem;
                z-index: 10;
                background-color: inherit;

                &.active {
                    box-shadow: inset 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
                    font-size: 1rem;
                }
                
                &:hover:not(.active) {
                    box-shadow: inset 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
                    font-size: 1rem;
                }
            }

            .options {
                position: absolute;
                width: $selector_width;
                max-height: 0;
                left: 50%;
                transform: translateX(-50%);
                overflow: auto;
                overflow-x: hidden;
                display: flex;
                flex-flow: column nowrap;
                box-shadow: 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
                border-radius: 0.5rem;
                transition: max-height ease-out 0.2s;
                background-color: $light_grey;
                z-index: 11;

                
                &.show {
                    max-height: 50vh;
                }

                button {
                    position: relative;
                    padding: 0.5rem 1rem;
                    border: none;
                    background-color: inherit;

                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 50%;
                        transform: translate(-50%);
                        width: 85%;
                        height: 100%;
                        border-top: 1px solid rgba($color: black, $alpha: 0.3);

                    }
                    
                    &:first-child {
                        border-top: none;
                    }
                
                    &:hover {
                        background-color: rgba($color: $red_brown, $alpha: 1.0);
                        color: rgba($color: $light_grey, $alpha: 1.0);
                    }
                }
                
                @include miniScrollbar();
            }
        }

        .versesLabel {
            text-align: center;
            font-weight: 400;
        }

        .savePsgBtn {
            width: max-content;
            height: max-content;
            padding: 0.2rem 0.3rem;
            border: none;
            border-radius: 0.5rem;
            outline: none;
            background-color: $moss_green;
            cursor: pointer;
            box-shadow: 0 0 0.2rem 0.05rem $moss_green_shadow;
            color: $light_grey;
            font-weight: 600;
            margin-top: 0.3rem;
            @include fadeOnHover;
        }

        .verseSelection {
            width: $selector_width;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin: 0.5rem auto;
            gap: 1rem;
            border-radius: 0.5rem;
            padding: 0.5rem;
            box-shadow: inset 0 0 0.3rem 0 rgba($color: #000000, $alpha: 1.0);
            overflow: auto;
            overflow-x: hidden;
            @include miniScrollbar();

            .verseNum {
                background-color: rgba($color: $red_brown, $alpha: 1.0);
                box-shadow: 0 0 0.15rem 0 rgba($color: #000000, $alpha: 1.0);
                color: $light_grey;
                border: none;
                border-radius: 0.5rem;
                width: 2.2rem;
                height: 2.2rem;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                @include fadeOnHover;

                &.highlight {
                    background-color: $moss_green;
                    box-shadow: 0 0 0.15rem 0 rgba($color: $moss_green_shadow, $alpha: 1.0);
                }
            }
        }
    }

    .passageTitle {
        grid-area: passageTitle;
        width: 100%;
        padding: 1.5rem 0 0.5rem 0;
        text-align: center;
        box-shadow: 0 0 0.5rem 0 black;
        font-weight: 200;
    }

    .content {
        grid-area: passageContent;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 2rem;
        padding-bottom: 50%;
        gap: 0.1rem;

        @include customScrollbar;
        
        span {
            &.highlight {
                background-color: rgba($color: $moss_green, $alpha: 0.6);
            }

            [data-number] {
                vertical-align: super;
                font-size: smaller;
            }
        }
    }
}