@import '../variables';

.container {
    position: relative;
    background-color: $red_brown;

    box-shadow: 0 0 1rem 0 rgba($color: $red_brown_dark, $alpha: 1.0);
    width: 100vw;
    height: $nav_height;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    overflow: visible;
    z-index: 100;
    color: $light_grey;
    
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('/texture.png');
        background-size: 15rem auto;
        background-repeat: repeat;
        opacity: 0.7;
        z-index: -1;
        pointer-events: none;
    }

    .left {
        h1 {
            cursor: pointer;
            @include fadeOnHover;
        }
    }

    .mid {

    }

    .right {
        display: flex;
        gap: 1rem;

        a {
            @include fadeOnHover;

            &.findPsgBtn {
                background-color: rgba($color: $light_grey, $alpha: 0.9);
                color: $red_brown;
                padding: 0.2rem 0.5rem;
                border-radius: 1rem;
                line-height: 1.3rem;
                font-weight: 600;
            }
        }
    }
}