@import '../variables';

.flashCardSection {
    min-width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "leftArrow card rightArrow";
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    justify-items: center;
    position: relative;
    overflow: hidden;
    
    .arrow {
        border: none;
        width: 2rem;
        height: 5rem;
        border: 0.2rem solid $grey_blue;
        background-color: $grey_blue;
        color: $light_grey;    
        font-size: 1.5rem;
        font-weight: 800;
        z-index: 5;
        
        &:hover {
            background-color: $light_grey;
            color: $grey_blue;    
        }
        
        &.left {
            grid-area: leftArrow;
            justify-self: left;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            border-left: none;
        }

        &.right {
            grid-area: rightArrow;
            justify-self: right;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            border-right: none;
        }
    }

    .flashCard {
        grid-area: card;
        width: 70%;
        max-width: 40rem;
        aspect-ratio: 3/2;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow-y: auto;
        transform: rotateY(180deg);
        box-shadow: 0 0 0 1vmin $light_grey, 0 0 1rem 0rem rgba($color: #000000, $alpha: 0.8);
        border-radius: 1rem;
        position: relative;

        @media screen and (max-width: $mobile_screen_max_width) {
            width: 90%;
            height: 70%;
            aspect-ratio: none;
        }

        @include miniScrollbar;
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border: none;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba($color: $red_brown, $alpha: 1);
            border-radius: 1rem;
            &:hover {
                background: rgba($color: $red_brown, $alpha: 0.6);
            }
        }
        
        @supports (overflow: overlay) {
            overflow-y: overlay;
            &::-webkit-scrollbar-thumb {
                background: rgba($color: $light_grey, $alpha: 0.6);
                
                &:hover {
                    background: rgba($color: $light_grey, $alpha: 0.4);
                }
            }
        }

        
        .psgRef, .psgContent {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            height: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            pointer-events: none;
            padding: 2rem;
        }
        
        
        .psgRef {
            background-color: $grey_blue;
            color: $light_grey;
            transform: scale(-1, 1);
        }
        
        .psgContent {
            display: flex;
            flex-flow: column nowrap;
            background-color: $grey_blue;
            // background-color: $moss_green;
            color: $light_grey;
            // color: $red_brown_dark;
            display: none;
            text-align: left;
            
            [data-number] {
                vertical-align: super;
                font-size: smaller;
            }
        }
    }
}
