@import '../variables';

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;

    main {
        width: 100vw;
        height: calc(100vh - $nav_height - $footer_height);

        // color: $grey_blue;
    }
}