$red_brown: #452117;
$red_brown_dark: #1b0d09;
$light_grey: #CECCCC;
$moss_green_vibrant: hsl(87, 90%, 30%);
$moss_green: #748E54;
$moss_green_shadow: hsl(88, 25%, 15%);
$grey_blue: #56667A;
$deep_red: rgb(180, 0, 0);
$deep_red_shadow: hsl(0, 100%, 15%);
$side_panel_width: 17rem;
$selector_width: 80%;
$selector_height: 3rem;
$nav_height: 4rem;
$footer_height: 2rem;
$mobile_screen_max_width: 620px; 

@mixin fadeOnHover {
    transition: opacity ease-out 0.15s;
    &:hover {
        opacity: 0.6;
    }
}

@mixin customScrollbar($display: block) {
    &::-webkit-scrollbar {
      width: 1rem;
    }
    
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border: none;
      border-left: 1px solid rgba($color: $red_brown, $alpha: 0.8);
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba($color: $red_brown, $alpha: 1.0);
        border-radius: 0.5rem;

        &:hover {
            background: rgba($color: $red_brown, $alpha: 0.6);
        }
    }
  }

  @mixin miniScrollbar {
    @include customScrollbar();
    &::-webkit-scrollbar {
        width: 0.7rem;
    }
  }

  @mixin confirmation($container, $window, $confirmBtn, $cancelBtn) {
    .#{$container} {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - $nav_height - $footer_height);
      z-index: 101;
      background-color: rgba($color: #000000, $alpha: 0.5);
      justify-content: center;
      align-items: center;
      display: none;

      @media screen and (max-width: $mobile_screen_max_width) {
        position: fixed;
        top: $nav_height;
      }

      .#{$window} {
          width: max-content;
          height: 6rem;
          background-color: $light_grey;
          display: grid;
          grid-template-areas: 
          "confirmation confirmation"
          "confirm cancel";
          grid-template-columns: 1fr 1fr;
          justify-items: center;
          padding: 1rem;
          border-radius: 1rem;

          h5 {
              grid-area: confirmation;
              align-self: start;

              span {
                  color: $moss_green_vibrant;
                  font-weight: 800;
              }
          }
          button {
              width: max-content;
              height: max-content;
              padding: 0.2rem 0.4rem;
              border-radius: 0.5rem;
              align-self: end;
              background-color: transparent;
              box-shadow: none;
              font-weight: 800;

              &.#{$confirmBtn} {
                  grid-area: confirm;
                  color: $deep_red;
              }
              &.#{$cancelBtn} {
                  grid-area: cancel;
                  color: $grey_blue;
              }
          }
      }
  }
}