$red_brown: #452117;
$red_brown_dark: #1b0d09;
$light_grey: #CECCCC;
$moss_green: #748E54;
$grey_blue: #56667A;
$side_panel_width: 17rem;
$selector_width: 80%;
$nav_height: 5rem;
$footer_height: 3rem;

@mixin fadeOnHover {
    transition: opacity ease-out 0.15s;
    &:hover {
        opacity: 0.7;
    }
}

@mixin customScrollbar($display: block) {
    &::-webkit-scrollbar {
      width: 1rem;
    }
    
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border: 0.1rem solid rgba($color: $red_brown, $alpha: 1.0);
      border-top: none;
      border-bottom: none;
    //   border-radius: 0.5rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba($color: $red_brown, $alpha: 1.0);
        border-radius: 0.5rem;

        &:hover {
            background: rgba($color: $red_brown, $alpha: 0.6);
        }
    }
  }

  @mixin miniScrollbar {
    @include customScrollbar();
    &::-webkit-scrollbar {
        width: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border: none;
        border-left: 0.1rem solid rgba($color: $red_brown, $alpha: 1.0);
    }
  }
  